<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>ExampleOne</servlet-name>
    <servlet-class>ExampleOne</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ExampleOne</servlet-name>
      <url-pattern>/ExampleOne</url-pattern>
  </servlet-mapping>
</web-app>
